@font-face {
    font-family: "robotocondensed-regular";
    src: url("../font/robotocondensed-regular.ttf");
}

@font-face {
    font-family: "Anton-Regular.ttf";
    src: url("../font/Anton-Regular.ttf");
}